body
{
	background:pink; 
}
.maindiv{
	background-color: white;
    margin: 5%;
    box-shadow: 2px 2px 2px 2px;
    display:flex;
    padding: 3%;

}
.leftdiv{
	background:white;
	padding: 5%;
	text-align: center;
}
.rightdiv{
	background-color:bisque;
	padding:5%;
	box-shadow: 3px 3px 3px 3px;
	width: 50%;
	height:60%;
}
img{
	border-radius: 5%;
}
